<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/teacherManager?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf-8"></property>
        <property name="username" value="root"/>
        <property name="password" value="8888"/>
    </bean>

    <!-- session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/teacherManager?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf-8</prop>-->
                <!--<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>-->
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/teacherManager</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>model.User</value>
                <value>model.Cjb</value>
                <value>model.Dlb</value>
                <value>model.Kcb</value>
                <value>model.Xsb</value>
                <value>model.Zyb</value>
                <value>model.XsKcb</value>
            </list>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:model/Cjb.hbm.xml</value>
                <value>classpath:model/Kcb.hbm.xml</value>
            </list>
        </property>
    </bean>
    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.orm.hibernate5.HibernateTransactionManager">-->
        <!--<property name="sessionFactory" ref="sessionFactory" />-->
    <!--</bean>-->
    <!--<tx:annotation-driven transaction-manager="transactionManager" />-->

    <bean id="baseDAO" class="dao.BaseDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="dlDao" class="dao.daoImp.DlDaoImp" parent="baseDAO"/>
    <bean id="dlService" class="service.serviceImp.DlServiceManage">
        <property name="dlDao" ref="dlDao"/>
    </bean>
    <bean id="dl" class="action.DlAction">
        <property name="dlService" ref="dlService"/>
    </bean>

    <bean id="xsDao" class="dao.daoImp.XsDaoImp" parent="baseDAO"/>
    <bean id="zyDao" class="dao.daoImp.ZyDaoImp" parent="baseDAO"/>
    <bean id="xsService" class="service.serviceImp.XsServiceManage">
        <property name="xsDao" ref="xsDao"/>
    </bean>
    <bean id="zyService" class="service.serviceImp.ZyServiceManage">
        <property name="zyDao" ref="zyDao"/>
    </bean>

    <bean id="xs" class="action.XsAction">
        <property name="xsService" ref="xsService"/>
        <property name="zyService" ref="zyService"/>
    </bean>

    <bean id="kcDao" class="dao.daoImp.KcDaoImp" parent="baseDAO"/>
    <bean id="cjDao" class="dao.daoImp.CjDaoImp" parent="baseDAO"/>
    <bean id="kcService" class="service.serviceImp.KcServiceManage">
        <property name="kcDao" ref="kcDao"/>
    </bean>

    <bean id="kc" class="action.KcAction">
        <property name="kcService" ref="kcService"/>
        <property name="zyService" ref="zyService"/>
    </bean>

    <bean id="cjService" class="service.serviceImp.CjServiceManage">
        <property name="cjDao" ref="cjDao"/>
    </bean>

    <bean id="cj" class="action.CjAction">
        <property name="xsService" ref="xsService"/>
        <property name="kcService" ref="kcService"/>
        <property name="cjService" ref="cjService"/>
     </bean>
</beans>